@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --dark-blue: #0A3871;
    --gray1: #495057;
    --gray2: #343A40;
    --light-blue1: #F3F5FC;
    --bg: #48cae4;
    --des: #ade8f4;
    --enc: #caf0f8;
    --light-blue2: #D8DFE8;
    --white: #FFF;
    --inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: var(--inter);
}

.header {
    padding: 1% 0% 0% 1%;
}

.logo_svg {
    width: 32px;
    height: 48px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 10%;
    
}

.contenido {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 20px;
}

.input_codificar {
    width: 60%;
    height: 350px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    resize: none;
    margin-right: 150px;
    background-color: var(--enc);
}

.input_codificar:focus{
    outline: none;
    
}

.input_codificar::placeholder {
    color: var(--dark-blue);
}

.mensaje_no_encontrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--des);
    border-radius: 32px;
    padding: 20px;
    height: 644px;
    width: 400px;
    max-width: 300px;
    margin-left: 150px;
}

.mensaje_no_encontrado {
    text-align: center; /* Centrar texto horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje {
    text-align: center; /* Asegurarse de que el texto dentro del párrafo esté centrado */
}

.imagen_oculta {
    display: none;
}

.negritas{
    font-weight: bold;
}

.container-botones {
    display: flex;
    flex-direction:row;
    margin-top: 20px;
    gap: 10px;
}

.botones {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 24px;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--inter);
    border: none;
}

.boton_primario {
    background-color: var(--dark-blue);
    color: var(--white);
}

.boton_secundario {
    background-color: var(--light-blue2);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.footer {
    background-color: var(--light-blue2);
    padding: 24px;
    font-size: 1rem;
    text-align: center;
}


