@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --dark-blue: #0A3871;
    --gray1: #495057;
    --gray2: #343A40;
    --light-blue1: #F3F5FC;
    --bg: #282b30;
    --des: #36393e;
    --enc: #424549;
    --prim: #7289da;
    --light-blue2: #D8DFE8;
    --white: #FFF;
    --inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, var(--enc) 0%, var(--des) 40%, var(--des) 60%, var(--bg) 100%);
    font-family: var(--inter);
}


.header {
    padding: 1% 0% 0% 1%;
}

.logo_svg {
    width: 32px;
    height: 48px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 10%;
    
}

.contenido {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 20px;
}

.input_codificar {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    resize: none;
    margin-right: 100px;
    background-color: var(--light-blue1);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}


.input_codificar:focus{
    outline: none;
    
}

.input_codificar::placeholder {
    color: var(--dark-blue);
}

.mensaje_no_encontrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar vertical y horizontalmente */
    gap: 10px;
    background-color: var(--light-blue1);
    border-radius: 32px;
    padding: 20px;
    height: 644px;
    width: 400px;
    max-width: 300px;
    margin-left: 150px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center; /* Centrar texto horizontalmente */
    word-wrap: break-word; /* Ajustar palabras largas */
    overflow-wrap: break-word; /* Ajustar palabras largas */
    overflow:scroll; /* Añadir barras de desplazamiento si el contenido se desborda */
}

.mensaje {
    text-align: center; /* Asegurarse de que el texto dentro del párrafo esté centrado */
    width: 100%; /* Asegurar que el texto ocupe todo el ancho disponible */
}

.imagen_oculta {
    display: none;
}

.negritas{
    font-weight: bold;
}

.container-botones {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
    justify-content:center;
  }

.botones {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 24px;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--inter);
    border: none;
}

.boton_primario {
    background-color: var(--prim);
    color: var(--white);
}

.boton_primario:hover{
    border: solid #000;
}

.boton_secundario {
    background-color: var(--light-blue2);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.footer {
    background-color: var(--prim);
    padding: 24px;
    font-size: 1rem;
    text-align: center;
}


